* {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  background-image: url(img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}
span {
  padding-top: 50px;
}
.models_naviagtion {
  display: none;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  display: flex;
  border: 1px solid #a3a3a3;
  min-height: 60px;
}
.menu {
  padding: 22px 20px;
  cursor: pointer;
}
.header_menu {
  width: 20px;
  height: 20px;
}
.models_block {
  border-bottom: 3px solid #fff;
  margin: 22px 22px 0 0;
  font-size: 15px;
  line-height: 27px;
}
.search_content {
  border-left: 1px solid #a3a3a3;
  padding-top: 22px;
  font-size: 13px;
  line-height: 20px;
}
.search_wrapper {
  padding-left: 10px;
}
.search_icon {
  padding-right: 10px;
}
/*320px main content*/

.main_content_wrapper {
  max-width: 175px;
  width: 100%;
  margin: 20px 20px 0 20px;
}
h1 {
  font-size: 25px;
}
.button_section {
  display: flex;
  margin: 10px 0 10px 0;
}
.button_section > div {
  margin-left: 10px;
}
.rating_wrapper {
  display: flex;
  padding-bottom: 32px;
}
.starz {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.int_btn {
  width: 20px;
  height: 20px;
}
.descritpion_block > div {
  margin-bottom: 10px;
}

/* 320 rectangle */
.rectangle {
  background: linear-gradient(
      0deg,
      rgba(9, 9, 9, 0.465718),
      rgba(9, 9, 9, 0.465718)
    ),
    #1f1f2f;
}
.rectangle_wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
.rectangle_wrapper > p {
  margin: 0;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0.145714px;
}
.rectangle_form {
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 20px;
  border-radius: 10px;
  padding: 8px 40px;
  width: 100%;
}
input[type="name"]::placeholder {
  padding-left: 10px;
}
.started_button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  background: #f92251;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}
.pick_name {
  outline: 1px solid #f92251;
  width: 20px;
  height: 20px;
}

/* 320 footer */

footer {
  background: #404754;
}
.footer_wrapper {
  padding: 16px 0 16px 20px;
}

.footer_text {
  text-transform: capitalize;
  text-decoration-line: underline;
  font-size: 17px;
  line-height: 26px;
  color: #bac5d3;
}
.footer_li {
  margin-bottom: 8px;
}
.bee {
  padding-top: 10px;
}
/* media 768 xp */

@media (min-width: 768px) {
  main {
    background-image: url(img/back2.png);
    background-repeat: no-repeat;
  }
  .menu {
    padding: 10px 20px;
  }
  .header_menu {
    width: 40px;
    height: 40px;
  }
  .search {
    font-size: 14px;
  }
  .models_block {
    margin: 22px 45px 0 20px;
    font-size: 15px;
    line-height: 27px;
    font-size: 18px;
  }
  .search_wrapper {
    margin-left: 40px;
  }
  .search_icon {
    padding-right: 22px;
  }
  /* main */

  .main_content_wrapper {
    max-width: 500px;
    width: 100%;
    margin: 50px 95px 0;
    font-size: 18px;
    line-height: 27px;
  }
  h1 {
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
  }
  .button_section_wrapper {
    display: flex;
    max-width: 500px;
    width: 100%;
    padding-top: 30px;
  }
  .button_section + .button_section {
    margin-left: 50px;
  }
  .button_section {
    display: flex;
    align-items: center;
  }
  .button_section > div {
    margin-left: 20px;
  }
  .descritpion {
    margin-top: 75px;
  }
  .descritpion_block {
    display: flex;
    justify-content: space-between;
  }
  .rating {
    margin-top: 25px;
  }
  .rating_wrapper {
    display: flex;
    margin-top: 15px;
  }
  .starz {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
  .int_btn {
    width: 50px;
    height: 50px;
  }
  .desk_element {
    padding-bottom: 8px;
  }
  span {
    font-size: 24px;
    line-height: 37px;
  }
  /* rectangle 768*/

  .rectangle_wrapper {
    width: 100%;
  }
  .rectangle_wrapper > p {
    margin: 0 auto;
    min-width: 530px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.3px;
    padding-bottom: 50px;
  }
  .form_wrapper {
    width: 450px;
    margin: 0 auto;
  }
  .input_wrapper {
    display: flex;
  }
  input:first-child {
    margin-right: 30px;
  }
  input {
    margin-top: 0;
    border-radius: 10px;
    padding: 8px 40px;
    width: 210px;
  }
  input[type="name"]::placeholder {
    padding-left: 10px;
  }
  .started_button_block {
    padding-top: 50px;
  }
  .started_button {
    margin-top: 0;
    width: 100%;
    padding: 13px 35px;
    text-transform: uppercase;
    background: #f92251;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
  }
  /* Footer 768 */
  .footer_wrapper {
    max-width: 768px;
    width: 100%;
    padding: 30px 0 25px 30px;
  }
  .footer_link {
    padding-bottom: 8px;
    text-transform: capitalize;
    text-decoration-line: underline;
    color: #bac5d3;
    font-size: 17px;
    line-height: 26px;
  }
  .footer_list {
    display: flex;
    justify-content: flex-start;
  }
  .footer_link {
    margin-right: 30px;
  }
  .footer_text {
    font-size: 20px;
    line-height: 30px;
    color: #bac5d3;
  }
  .footer_link:last-child {
    margin-right: 0;
  }

  /* Media 1440 px */

  @media (min-width: 1440px) {
    main {
      background-image: url(img/back3.png);
      background-repeat: no-repeat;
      height: 100vh;
    }
    .main_content_wrapper {
      margin: 80px 200px;
    }
    .menu {
      padding: 0;
    }
    .header_menu {
      width: 65px;
      height: 80px;
      margin-left: 40px;
    }
    .search {
      font-size: 18px;
    }
    .models_block {
      display: none;
    }
    .first {
      color: #fff;
      border-bottom: 5px solid #fff;
    }
    li {
      padding: 27px 0 27px 0;
    }
    .models_block_media {
      display: flex;
      align-items: center;
    }
    .models_naviagtion {
      display: flex;
      justify-content: space-between;
      width: 740px;
      color: #9f9f9f;
      padding: 0;
      margin: 0 100px;
    }
    .models_button + .models_button {
      font-size: 18px;
    }
    .search_wrapper {
      margin-left: 40px;
    }
    .search_content {
      display: flex;
      align-items: center;
      padding: 0;
      margin-left: 50px;
    }
    .search_icon {
      padding-right: 30px;
    }
    li {
      font-size: 18px;
      line-height: 27px;
      color: #9f9f9f;
    }
    li:hover {
      color: #fff;
    }
    .desctop {
      width: 810px;
      display: flex;
      margin-top: 75px;
    }
    .descritpion_block {
      display: flex;
      justify-content: flex-start;
    }
    .descritpion_block > div {
      margin-right: 75px;
    }
    .rating {
      margin-top: 75px;
    }
    .starz {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }
    .starz:hover {
      transform: scale(1.2);
    }
    .int_btn:hover {
      transform: scale(1.1);
    }
    .bike_rate {
      padding-left: 25px;
    }
    /* rectangle 1440 px*/
    .rectangle_wrapper {
      padding: 60px 0 90px 0;
    }
    .form_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .rectangle_form {
      display: flex;
      flex-direction: row;
    }
    .started_button {
      width: 210px;
      padding: 12px 25px;
    }
    .form_wrapper {
      max-width: 980px;
      width: 100%;
    }
    input {
      width: 300px;
      height: 50px;
    }
    .started_button {
      margin-left: 40px;
      width: 300px;
      height: 50px;
    }
    .started_button_block {
      padding-top: 0;
    }
    .rectangle_wrapper > p {
      font-size: 35px;
      line-height: 53px;
    }
    .rectangle_form {
    }
    /* Footer 1440 px */

    .footer_wrapper {
      max-width: 1360px;
      width: 100%;
      margin: 0 auto;
      padding: 20px 0 20px 0;
    }
    .footer_block {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .footer_list {
      display: flex;
    }
    .footer_list ~ li {
      padding: 0;
    }
    .footer_link {
      padding-bottom: 0;
    }
    .footer_li {
      padding: 0;
    }
    span:hover {
      color: #f92251;
    }
  }
}
